@import "../../../styles/globals";

.mainNav {
  background: $dark-blue;
  padding: 16px 0;
  border: 0;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.navBrand {
  margin-right: 32px;
  a {
    display: flex;
    align-items: center;
  }
}

.navContent {
  a {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;

    &:hover {
      color: $sky-blue;
      &:after {
        width: 100%;
      }
    }
    &:after {
      content: "";
      display: block;
      width: 0;
      height: 2px;
      background: $sky-blue;
      transition: width 0.3s;
    }
  }
}

.navUser {
  .userDropdown {
    &.loggedOut {
      background: $sky-blue;
      border-radius: 20px;
      color: #fff;
      padding: 8px 20px;
      .user {
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 700;
        margin-right: 6px;
      }
      svg {
        padding-top: 2px;
      }
    }
  }
}

.loggedIn {
  button {
    background: $sky-blue !important;
    border: 0 !important;
    border-radius: 20px !important;
    color: #fff !important;
    box-shadow: none !important;
    padding: 7px 20px;
    .user {
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 700;
      margin-right: 6px;
    }
    svg {
      padding-top: 2px;
    }
  }
  .dropdownMenuRight {
    border-radius: 8px !important;
    margin-top: 24px;
    border: 1px solid #00000020;
    padding: 0;
    a {
      padding: 12px 20px;
      width: unset;
      font-size: 14px !important;
      background: none;
      color: #000;
      border: 0;
      font-weight: 800;
      text-transform: uppercase;
      transition: all 0.2s ease-in;
      &:hover {
        background: $sky-blue;
        color: #fff;
      }
    }
  }
}
