@import "./globals";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

body {
  padding: 40px 0;
  background-color: #2c383a;
}

input,
label {
  display: block;
  margin: 4px 0;
}

button.disabled {
  pointer-events: none;
}

#main {
  margin-top: 40px;
  background-color: #fff;
  border: 1px solid #00000020;
  padding: 40px;
  border-radius: 20px;
}

#file-message {
  font-size: 12px;
  //color: #ffcd40;
}

#file-message.invalid {
  color: red;
}

#csv input {
  margin-bottom: 20px;
}

#progress {
  color: #00000010;
  text-align: center;
}

#progress.active {
  color: #000;
}

#progress div {
  padding: 8px;
}

#progress div div {
  background-color: lightblue;
  min-height: 100px;
  padding: 12px;
}

#progress div.complete div {
  background-color: #2c383a;
  color: #fff;
}

#progress-container {
  padding: 24px;
  border-radius: 12px;
  background-color: #fff;
}
