@import "./globals";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

.container {
  padding: 100px 0;
}

input,
label {
  display: block;
}

button.disabled {
  pointer-events: none;
}

#csv div {
  background-color: lightblue;
  border: 1px solid #00000020;
  padding: 40px;
  border-radius: 20px;
}

span.file-message {
  font-size: 12px;
  //color: #ffcd40;
}

#csv input {
  margin-bottom: 20px;
}

#progress {
  color: #00000010;
  text-align: center;
}

#progress.active {
  color: #000;
}

#progress div {
  padding: 8px;
}

#progress div div {
  background-color: lightblue;
  height: 100px;
}

#progress div.complete div {
  background-color: blue;
  color: #fff;
}
